body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}
<!--
	UL	{margin-top: 0pt}
	a:hover {color: #0099FF}
	.blacklink	{color: blue}
	FONT.noul A {text-decoration:none;color:blue}
-->
div.float {
	float: left;
}

div.float p {
	text-align: center;
}

.tk-museo {
	font-family: 'Lobster', arial, serif;
	[if ! IE]font-weight: 300; 
	[if ! IE] font-size: x-large;
	[if IE] font-size: large;
}

.tk-cody {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	/*[if IE] font-size: large;
	[if ! IE] font-size: large;*/
}

.matty {
	font-family: 'Josefin Sans Std Light', arial, serif; 
	[if ! IE] font-size: x-large;
	[if IE] font-size: large;
}

.listing{
	font-family: 'Droid Sans Mono', arial, serif;
	[if IE] font-size: x-small;
	[if ! IE] font-size: small;
}

.video-container {
    position: relative;
    padding-bottom: 25px;
    padding-top: 25px;
    height: 0;
    /*overflow: hidden;*/
	float: right;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
/*    width: 640px;
    height: 480px;*/
}
